@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

#logo {
  text-align: center;
}
#logo > img {
  border-radius: 15%;
  margin-top: 3%;
}
nav {
  margin-top: 15px;
  width: 100%;
}

ul {
  text-align: center;
  align-self: center;
  display: flex;
  margin-left: 20%;
}

li {
  background-color: white;
  list-style-type: none;
  border: 2px rgb(42, 136, 165) solid;
  margin: 10px 1vw;
  height: 30px;

  border-radius: 8px;
  font-size: 20px;
}
a {
  text-decoration: none;

  /*below I changed the color*/
  color: black;
  /*I added some padding*/
  padding: 1vw;
  /*also changed the font family but that's totally irrelevant*/
  font-family: monospace;
}
a:hover {
  color: rgb(250, 167, 218);
}

body {
  background-color: #f0b7bd;
  margin: 0;
}
@media only screen and (max-width: 500px) {
  /*shows elements in a column*/
  ul {
    flex-direction: column;
  }

  /* deletes margin on top or bottom of the a tag*/
  li {
    margin: 0;
  }
  /* makes sure that the a tag will take the entire screen*/
  a {
    display: block;
  }
}
#fundo {
  position: static;
  background-color: white;
  border-radius: 1em;
  width: 100%;
  width: 1080px;
  height: 2000px;
  margin-left: 10%;
}
