@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

#logo {
  text-align: center;
}
#logo > img {
  border-radius: 15%;
  margin-top: 3%;
  box-shadow: 2px 2px 5px grey;
}

li {
  list-style-type: none;
  margin: 17px 2vw;
  /* our font-size will be 3% of the height of the viewport */
  font-size: 3vh;
}
a {
  text-decoration: none;

  /*below I changed the color*/
  color: white;
  /*I added some padding*/
  padding: 1vw;
  /*also changed the font family but that's totally irrelevant*/
  font-family: monospace;
}
a:hover {
  background-color: rgb(250, 167, 218);
}
nav {
  margin-top: 15px;
  width: 100vw;
  background-color: rgb(252, 205, 236);
}
ul {
  display: flex;

  margin: 0;
  padding: 0;
}

body {
  background-color: #fcbfc8;
  margin: 0;
}
@media only screen and (max-width: 500px) {
  /*shows elements in a column*/
  ul {
    flex-direction: column;
  }

  /* deletes margin on top or bottom of the a tag*/
  li {
    margin: 0;
  }
  /* makes sure that the a tag will take the entire screen*/
  a {
    display: block;
  }
}

#fundo {
  position: static;
  background-color: white;
  border-radius: 1em;
  width: 100%;
  width: 1080px;
  height: 2000px;
  margin-left: 10%;
}
